-e git+http://github.com/russ-/pychallonge#egg=pychallonge
-e git+https://github.com/rense/django-jet#egg=django-jet
django
django-autocomplete-light==3.2.10
django-ckeditor
django-dotenv
django-jet
django-recaptcha2
djangorestframework
django-dotenv
django-debug-toolbar
certifi
feedparser
pillow
psycopg2
reportlab
sendgrid-django
sorl-thumbnail
iso8601
bcrypt
gunicorn
requests
raven
