{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="box" id="reset_password">
        <h2>{% block title %}Glemt kodeord{% endblock %}</h2>
        <p>Har du glemt dit kodeord?</p>
        <p>Skriv din e-mail-adresse herunder, så sender vi dig instruktioner om hvordan du vælger en ny adgangskode.</p>
        <form action="" method="post">
            {% csrf_token %}
            {{ form }}
            <input type="submit" value="Nulstil kodeord" />
        </form>
    </div>
{% endblock %}