{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="box" id="reset_password_done">
        <h2>{% block title %}Glemt kodeord{% endblock %}</h2>
        <p>Vi har sendt dig en email med instruktioner for at sætte dit kodeord, hvis en konto med den angivne email
            findes. Du burde modtage den snarest.</p>
        <p>Hvis du ikke modtager en e-mail, så tjek venligst, at du har indtastet den e-mail-adresse, du registrerede
            dig med, og tjek din spam-mappe.</p>
    </div>
{% endblock %}