{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="box" id="reset_password_confirm">
        {% if validlink %}
            <h2>{% block title %}Indtast ny adgangskode{% endblock %}</h2>
            <p>Indtast venligst din nye adgangskode to gange, så vi kan være sikre på, at den er indtastet korrekt.</p>
            <form action="" method="POST">
                {% csrf_token %}
                {{ form }}
                <input type="submit" value="Skift adgangskode"/>
            </form>
        {% else %}
            <p>Linket for nulstilling af adgangskoden er ugyldigt, måske fordi det allerede har været brugt. Anmod
                venligst påny om nulstilling af adgangskoden.</p>
        {% endif %}
    </div>
{% endblock %}