{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="box" id="password_change">
        <h2>{% block title %}Skift adgangskode{% endblock %}</h2>
        <p>Indtast venligst din gamle adgangskode for en sikkerheds skyld og indtast så din nye adgangskode to gange, så
            vi kan være sikre på, at den er indtastet korrekt.</p>
        <form action="" method="POST">
            {% csrf_token %}
            {{ form }}
            <input type="submit" value="Skift adgangskode"/>
        </form>
    </div>
{% endblock %}