{% load static %}

<!DOCTYPE HTML>
<html lang="da" prefix="og: http://ogp.me/ns#">
    <head>
        <!-- Metadata -->
        <meta charset="UTF-8">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="description"
              content="Siden for LAN på Aarhus Gymnasium. Her kan se information og tilmelde dig til LAN og tuneringer.">

        <!-- Open graph (facebook) metadata -->
        <meta property="og:title" content="HTXAarhusLAN"/>
        <meta property="og:type" content="website"/>
        <meta property="og:url" content="{{ request.build_absolute_uri }}"/>
        <meta property="og:image"
              content="{{ request.scheme }}://{{ request.get_host }}{% static "main/img/logo.png" %}"/>
        <meta property="og:description"
              content="Siden for LAN på Aarhus Gymnasium. Her kan se information og tilmelde dig til LAN og tuneringer."/>
        <meta property="og:locale" content="da_DK"/>

        <!-- Other metadata -->
        <meta name="theme-color" content="#d33e20">

        <!-- Title and icon -->
        <title>{% block title %}{% endblock %} - HTXAarhusLAN</title>
        <link rel="icon" type="image/png" href="{% static "main/img/favicon.png" %}"/>

        <!-- Styles -->
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.2/cookieconsent.min.css">
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/qtip2/3.0.3/jquery.qtip.min.css">
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/vex-js/3.0.0/css/vex.min.css">
        <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,500">
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css">
        <link rel="stylesheet" href="{% static "main/style/main.css" %}">
        <link rel="stylesheet" href="{% static "main/style/vex-theme-plain-custom.css" %}">

        <!-- Script -->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.2/cookieconsent.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/qtip2/3.0.3/jquery.qtip.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/vex-js/3.0.0/js/vex.combined.min.js"></script>
        <script src="{% static "main/script/vendor/jquery.fittext.js" %}"></script>
        <script src="{% static "main/script/vendor/jquery.unevent.js" %}"></script>
        <script src="{% static "main/script/main.js" %}"></script>

        {% block extrahead %}{% endblock %}
    </head>

    <body>
        <div class="container">
            <header>
                <div class="header">
                    {% block header %}
                        <div class="title">
                            <a href="/">
                                <h1>HTX Aarhus LAN</h1>
                            </a>
                        </div>
                        <nav>
                            <div class="nav">
                                {% url "index" as url %}
                                <a href="{{ url }}" class="{% if request.get_full_path == url %}current{% endif %}">Forside</a>
                                {% url "info" as url %}
                                <a href="{{ url }}" class="{% if request.get_full_path == url %}current{% endif %}">Information</a>
                                {% url "tilmeld" as url %}
                                <a href="{{ url }}" class="{% if request.get_full_path == url %}current{% endif %}">Tilmelding</a>
                                {% url "tournaments" as url %}
                                <a href="{{ url }}" class="{% if request.get_full_path == url %}current{% endif %}">Turnering</a>
                            </div>
                        </nav>
                    {% endblock %}
                </div>
            </header>
            <div class="page">
                {% block content %}

                {% endblock %}
                <div class="box spacer"></div>
                <div class="sidebar">
                    {% block sidebar %}
                        <div class="box login" id="login">
                            {% if request.user.is_authenticated %}
                                {% with request.user.profile.get_lanprofile_for_next_lan as lp %}
                                    <h2>Velkommen {{ request.user.first_name }}</h2>
                                    <div class="status">
                                        {% if lp %}
                                            {% if lp.paytype %}
                                                {% if not lp.paid %}
                                                    {% if lp.paytype == 'mp' %}
                                                        <p>Du er tilmeldt LAN, men din MobilePay betaling er ikke
                                                            gennemført. Scan QR koden herunder med MobilePay for at
                                                            betale. Hvis det ikke virker kan du også logge ind på din
                                                            mobil og tykke på QR koden eller <a
                                                                    href="{{ lp.get_payment_url }}">her</a>.
                                                        </p>
                                                        <a href="{{ lp.get_payment_url }}">
                                                            <img src="{{ lp.get_payment_qr_url }}"
                                                                 alt="Unik MobilePay QR kode. Klik eller scan.">
                                                        </a>
                                                    {% elif lp.paytype == 'cash' %}
                                                        <p>Du er tilmeldt LAN, og har valgt at betale med kontanter.
                                                            Find venligt et LanCrew medlem når du ankommer til LAN.</p>
                                                    {% endif %}
                                                {% else %}
                                                    <p>Du er tilmeldt LAN, og din betaling er gennemført.</p>
                                                {% endif %}
                                            {% endif %}
                                        {% endif %}
                                    </div>
                                    <div class="buttons">
                                        {% if not lp %}
                                            <a class="button" href="{% url "tilmeld" %}">Tilmeld til lan</a>
                                        {% elif lp.lan.is_ongoing %}
                                            <a class="button" href="{% url "food" %}">Madbestilling</a>
                                        {% endif %}
                                        <a class="button" href="{% url "profile" username=user.username %}">Vis/rediger
                                            profil</a>
                                        {% if request.user.is_staff %}
                                            <a class="button" href="{% url "admin:index" %}">Admin</a>
                                        {% endif %}
                                        <a class="button" href="{% url "logout" %}?next={{ request.get_full_path }}">Log
                                            af</a>
                                    </div>
                                {% endwith %}
                            {% else %}
                                <h2>Login</h2>
                                {% include 'messages.html' %}
                                <form action="{% url "login" %}?next={{ request.get_full_path }}" method="post">
                                    {% csrf_token %}
                                    <input name="username" type="text" placeholder="Brugernavn"/>
                                    <input name="password" type="password" placeholder="Kodeord"/>
                                    <input type="submit" value="Log ind" name="login"/>
                                </form>
                                <div>
                                    <a class="left" href="{% url "register" %}?next={{ request.get_full_path }}">Opret
                                        bruger</a>
                                    <a class="right" href="{% url "password_reset" %}">Glemt kodeord?</a>
                                </div>
                            {% endif %}
                        </div>
                        <div class="box" id="discord">
                            <h2><a href="{% url 'discord' %}" class="h2">Discord server</a></h2>
                            <div class="iframe">
                                <iframe src="https://discordapp.com/widget?id=243374306501984256&theme=dark"
                                        allowtransparency="true" frameborder="0"></iframe>
                            </div>
                        </div>
                    {% endblock %}
                </div>
            </div>
        </div>
        <footer>
            <div class="footer" style="display: none">
                <div class="container">
                    {# @formatter:off--> #}
                    <p class="left">
                        Dette website er <a href="https://github.com/bomjacob/htxaarhuslan/blob/master/LICENSE" target="_blank">open-source</a>.
                        Deltag i udviklingen på <a href="https://github.com/bomjacob/htxaarhuslan" target="_blank">github</a>!
                        <br>
                        Brug af dette website sker i henhold med vores <a href="{% url "policy" %}">Cookie- og privatlivspolitik</a>.
                        <br>
                        Denne side er stadig under opbygning. Kontakt <span class="reverse">kd.nalsuhraaxth<span class="displaynone">null</span>@<span class="displaynone">null</span>werc</span>,
                        hvis der opstår problemer.
                    </p>
                    {# @formatter:on--> #}
                    <div class="do-logo-wrapper"><a href="https://m.do.co/c/21685f142dd7"><img
                            src="{% static "main/img/do-logo.png" %}"
                            alt="Powered by DigitalOcean" class="right do-logo"></a></div>
                </div>
            </div>
        </footer>
        {% if not DEBUG %}
            {# @formatter:off--> #}
            <script>
                (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
                })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

                ga('create', 'UA-87933594-1', 'auto');
                ga('send', 'pageview');
            </script>
            {# @formatter:on--> #}
        {% endif %}
    </body>
</html>