{% load static %}

<!DOCTYPE HTML>
<html lang="da" prefix="og: http://ogp.me/ns#">
    <head>
        <!-- Metadata -->
        <meta charset="UTF-8">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="description"
              content="Siden for LAN på Aarhus Gymnasium. Her kan se information og tilmelde dig til LAN og turneringer.">

        <!-- Open graph (facebook) metadata -->
        <meta property="og:title" content="AG LAN"/>
        <meta property="og:type" content="website"/>
        <meta property="og:url" content="{{ request.build_absolute_uri }}"/>
        <meta property="og:image"
              content="{{ request.scheme }}://{{ request.get_host }}{% static "main/img/meta_logo.png" %}"/>
        <meta property="og:description"
              content="Siden for LAN på Aarhus Gymnasium. Her kan se information og tilmelde dig til LAN og turneringer."/>
        <meta property="og:locale" content="da_DK"/>

        <!-- Other metadata -->
        <meta name="theme-color" content="#d33e20">

        <!-- Title and icon -->
        <title>{% block title %}{% endblock %} - AG LAN</title>
        <link rel="icon" type="image/png" href="{% static "main/img/favicon.png" %}"/>

        <!-- Styles -->
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.2/cookieconsent.min.css">
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/qtip2/3.0.3/jquery.qtip.min.css">
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/vex-js/3.0.0/css/vex.min.css">
        <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,500">
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css">
        <link rel="stylesheet" href="{% static "main/style/main.css" %}">
        <link rel="stylesheet" href="{% static "main/style/vex-theme-plain-custom.css" %}">

        <!-- Script -->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.2/cookieconsent.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/qtip2/3.0.3/jquery.qtip.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/vex-js/3.0.0/js/vex.combined.min.js"></script>
        <script src="{% static "main/script/vendor/jquery.fittext.js" %}"></script>
        <script src="{% static "main/script/vendor/jquery.unevent.js" %}"></script>
        <script src="{% static "main/script/main.js" %}"></script>

        {% if not DEBUG %}
            {# @formatter:off--> #}
            <!-- Global site tag (gtag.js) - Google Analytics -->
            <script async src="https://www.googletagmanager.com/gtag/js?id=UA-134012756-1"></script>
            <script>
              window.dataLayer = window.dataLayer || [];
              function gtag(){dataLayer.push(arguments);}
              gtag('js', new Date());

              gtag('config', 'UA-134012756-1');
            </script>
            {# @formatter:on--> #}
        {% endif %}

        {% block extrahead %}{% endblock %}
    </head>

    <body>
        <div class="container">
            <header>
                <div class="header">
                    {% block header %}
                        <div class="title">
                            <a href="/">
                                <img src="{% static "main/img/logo_main.png"%}" height="auto" width="100%" alt="AGLAN.dk logo">
                            </a>
                        </div>
                        <nav>
                            <div class="nav">
                                {% url "index" as url %}
                                <a href="{{ url }}" class="{% if request.get_full_path == url %}current{% endif %}">Forside</a>
                                {% url "info" as url %}
                                <a href="{{ url }}" class="{% if request.get_full_path == url %}current{% endif %}">Information</a>
                                {% url "tilmeld" as url %}
                                <a href="{{ url }}" class="{% if request.get_full_path == url %}current{% endif %}">Tilmelding</a>
                                {% url "tournaments" as url %}
                                <a href="{{ url }}" class="{% if request.get_full_path == url %}current{% endif %}">Turnering</a>
                            </div>
                        </nav>
                    {% endblock %}
                </div>
            </header>
            <div class="page">
                {% block content %}

                {% endblock %}
                <div class="box spacer"></div>
                <div class="sidebar">
                    {% block sidebar %}
                        {% include "sidebar.html" %}
                    {% endblock %}
                </div>
            </div>
        </div>
        <footer>
            <div class="footer" style="display: none">
                <div class="container">
                    {# @formatter:off--> #}
                    <p class="left">
                        Dette website er <a href="https://github.com/bomjacob/htxaarhuslan/blob/master/LICENSE" target="_blank">open-source</a>.
                        Deltag i udviklingen på <a href="https://github.com/bomjacob/htxaarhuslan" target="_blank">github</a>!
                        <br>
                        Brug af dette website sker i henhold med vores <a href="{% url "policy" %}">Cookie- og privatlivspolitik</a>.
                        <br>
                        Denne side er stadig under opbygning. Kontakt <span class="reverse">kd.nalga<span class="displaynone">null</span>@<span class="displaynone">null</span>werc</span>,
                        hvis der opstår problemer.
                    </p>
                    {# @formatter:on--> #}
                    <div class="do-logo-wrapper"><a href="https://m.do.co/c/21685f142dd7" target="_blank"><img
                            src="{% static "main/img/do-logo.png" %}"
                            alt="Powered by DigitalOcean" class="right do-logo"></a></div>
                </div>
            </div>
        </footer>
    </body>
</html>
