{% extends "base.html" %}
{% load static %}
{% load thumbnail %}

{% block extrahead %}
    <script src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
    <script src="{% static "main/script/food.js" %}"></script>

    <style>
        .select2-results__option {
            height: auto;
            line-height: 1em;
        }
    </style>
{% endblock %}

{% block content %}
    {% if request.user.is_authenticated %}
        <div class="box" id="mine">
            <h2>Mine madbestillinger</h2>
            <p>Herunder ses dine madbestillinger for dette lan samt hvorvidt de er registreret som betalt. Hvis de ikke
                er betalt ses en QR kode som kan scannes med mobilepay for hurtigt og nemt at betale. Hvis du er på
                mobil kan du også bare trykke på QR koden for at komme til mobilepay. Hvis QR koden ikke virker så tal
                venligst med et lan crew medlem.</p>
            {% if orders %}
                <table class="wide">
                    <thead>
                        <tr>
                            <td>Tid</td>
                            <td>Ordre</td>
                            <td>Pris</td>
                            <td>Betal(t)</td>
                        </tr>
                    </thead>
                    <tbody>
                        {% for order in orders %}
                            <tr>
                                <td>{{ order.time|date:"j/n/Y G:i" }}</td>
                                <td>{{ order.order }}</td>
                                <td>{{ order.price|floatformat:"-2" }}kr.</td>
                                <td>{% if order.paid %}Ja :){% else %}<a href="{{ order.get_payment_url }}"><img
                                        src="{{ order.get_payment_qr_url }}"></a>{% endif %}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>Du har ikke bestilt noget mad endnu.</p>
            {% endif %}
        </div>
    {% endif %}
    {% if show %}
        <div class="box" id="bestilling">
            <h2>Bestil mad</h2>
            <p>Vi bestiller mad fra Byens Burger. Menukortet kan ses <a href="http://www.byensburger.dk/menukort/"
                                                                        target="_blank">her</a>.</p>
            <form id="food">
                <select id="category" data-placeholder="Vælg kategori" title="Kategori">
                    <option></option>
                </select>
                <select id="product" data-placeholder="Vælg produkt" title="Produkt">
                    <option></option>
                </select>
                <select id="part1" data-placeholder="Vælg" title="Del 1">
                    <option></option>
                </select>
                <select id="part2" data-placeholder="Vælg" title="Del 2">
                    <option></option>
                </select>
                <select id="part3" data-placeholder="Vælg" title="Del 3">
                    <option></option>
                </select>
                <select id="acc1" data-placeholder="Vælg" title="Tilbehør 1">
                    <option></option>
                </select>
                <select id="acc2" data-placeholder="Vælg" title="Tilbehør 2">
                    <option></option>
                </select>
                <select id="acc3" data-placeholder="Vælg" title="Tilbehør 3">
                    <option></option>
                </select>
            </form>
        </div>
    {% else %}
        <div class="box" id="ikkeåben">
            <h2>{% block title %}Madbestilling{% endblock %} er ikke åben</h2>
            <p>Madbestilling er ikke åben på nuværende tidspunkt. Hvis du mener dette er en fejl, kontakt et crew
                medlem.</p>
            <p>Denne fejl vises også hvis du ikke er tilmeldt nuværende lan. Du kan kun lave en madbestilling hvis du er
                tilmeldt LAN!</p>

        </div>
    {% endif %}
{% endblock %}