{% extends "base.html" %}
{% load static %}
{% load thumbnail %}

{% block extrahead %}
    <script src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
    <script src="{% static "main/script/food.js" %}"></script>

    <style>
        .select2-results__option {
            height: auto;
            line-height: 1em;
        }
    </style>
{% endblock %}

{% block content %}
    {% if request.user.is_authenticated %}
        <div class="box" id="mine">
            <h2>Dine madbestillinger</h2>
            <p>Herunder ses dine madbestillinger for dette LAN samt hvorvidt de er registreret som betalt.</p>
            <p>Hvis du valgte at betale med MobilePay så skulle du gerne havet modtaget en admodning om betalingen.
                Hvis du ikke har modtaget nogen admodning tryk da på "Send MobilePay anmodning" for at sende en til det telefonnummer der er registreret på din profil.</p>
            <p>Hvis du gerne vil betale med kontanter gøres det ved <a href="{% url 'profile' username='bomjacob' %}">Jacob Bom</a>.</p>
            <p>Der kan gå op til et kvater før din betaling går igennem. Hvis der går længere, du oplever andre
                problemer eller du ønsker at betale med kontanter, kontakt venligst et medlem af LanCrew.</p>
            {% if orders %}
                <table class="wide food">
                    <thead>
                        <tr>
                            <td>Tid</td>
                            <td>Ordre</td>
                            <td>Pris</td>
                            <td style="width:35%">Betaling</td>
                        </tr>
                    </thead>
                    <tbody>
                        {% for order in orders %}
                            <tr>
                                <td>{{ order.time|date:"l, G:i" }}</td>
                                <td>{{ order.order }}</td>
                                <td>{{ order.price|floatformat:"-2" }}kr.</td>
                                <td>{% if order.paid %}
                                    Betalt :)
                                {% else %}
                                    Ikke betalt. {% if profile.phone %}<a href="{% url '' %}">Send MobilePay admodning</a>{% endif %}
                                {% endif %}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>Du har ikke bestilt noget mad endnu.</p>
            {% endif %}
        </div>
    {% endif %}
    {% if show %}
        <div class="box" id="bestilling">
            <h2>Bestil mad</h2>
            {% include 'messages.html' %}
            <p>Vi bestiller mad fra Byens Burger. Menukortet kan ses <a href="http://www.byensburger.dk/menukort/"
                                                                        target="_blank">her</a>.</p>
            <p>Vælg den mad du ønsker herunder og tryk derefter på knappen "Placér bestilling" som dukker op hvis din
                ordre er gyldig.</p>
            <form id="food" action="{{ get_full_path }}" method="post">
                {% csrf_token %}
                {{ form }}
                <p>Hvis du ønsker at lave mere end en bestilling får du også mulighed for det på næste side.</p>
                <h4 id="price">Pris: <span>0</span>kr.</h4>
                <input type="submit" value="Placér bestilling" name="submit"/>
            </form>
        </div>
    {% else %}
        <div class="box" id="ikkeåben">
            <h2>{% block title %}Madbestilling{% endblock %} er ikke åben</h2>
            <p>Madbestilling er ikke åben på nuværende tidspunkt. Hvis du mener dette er en fejl, kontakt et crew
                medlem.</p>
            <p>Denne fejl vises også hvis du ikke er tilmeldt nuværende lan. Du kan kun lave en madbestilling hvis du er
                tilmeldt LAN! Husk også at logge ind hvis du ikke allerede er det.</p>
            <p>Vi bestiller mad fra Byens Burger. Menukortet kan ses <a href="http://www.byensburger.dk/menukort/"
                                                                        target="_blank">her</a>.</p>
        </div>
    {% endif %}
{% endblock %}