{% extends "base.html" %}
{% load static %}

{% block title %}Forside{% endblock %}

{% block extrahead %}
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.1.0/fullcalendar.min.css">
    <link rel="stylesheet" href="{% static 'main/style/fullcalendar-custom.css' %}">
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.1.0/fullcalendar.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.1.0/locale/da.js"></script>
{% endblock %}

{% block content %}
    <div class="box" id="næstelan">
        {% if lan %}
            <h2>Næste LAN: {{ lan.name }}</h2>
            <h4>Dato: <strong>{{ lan.start }}</strong></h4>
            {{ lan.blurb|safe }}
            {% if not lan.show_calendar %}
                <p>Tidsplanen for næste LAN er ikke klar endnu, men vil blive vist herunder så snart alt er planlagt.</p>
            {% endif %}
        {% else %}
            <h2>Ingen LAN planlagt</h2>
            <p>Der er ingen LAN planlagt på nuværende tidspunkt.</p>
        {% endif %}
    </div>
    {% if lan and lan.show_calendar %}
        <div class="box" id="plan">
            <h2>Tidsplan</h2>
            <div id="calendar_loading"><h4>Indlæser</h4></div>
            <div id="calendar" data-date="{{ lan.start.isoformat }}"></div>
            <script src="{% static "main/script/calendar.js" %}"></script>
        </div>
    {% endif %}
    <div class="box" id="hvaderhal">
        <h2>Hvad er HAL?</h2>
        <p>HAL <span class="acronym">(<span>H</span>TX<span>A</span>arhus<span>L</span>AN)</span> er navnet på det LAN
            vi holder på Aarhus Gymnasium, af elever, for elever. LAN bliver som regel holdt over en weekend, fra fredag
            aften til søndag middag, men det er tilladt at komme og gå som man vil, så længe man er tilmeldt.</p>

        <p>Under <a href="{% url "info" %}">Information</a> kan du finde alle de informationer, du har brug for at vide, før du
            tager til LAN. Dette inkluderer for eksempel tid og sted, pakkeliste, hvordan madbestilling foregår,
            regler for opholdelse under LAN, og en FAQ.</p>
        <p>Under <a href="{% url "tilmeld" %}">Tilmelding</a> kan du melde dig til næste LAN, og reservere plads.
            Vi regner med at alle, der kommer, melder sig til.</p>
        <p>Under <a href="{% url "tournaments" %}">Turnering</a> kan du melde dig til det kommende LAN's turneringer. Her kan
            du også se holdenes placering under og efter turneringer, og hvilke præmier de forskellige turneringer har.</p>
    </div>
{% endblock %}
