{% extends "base.html" %}
{% load static %}

{% block title %}Forside{% endblock %}

{% block extrahead %}
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.1.0/fullcalendar.min.css">
    <link rel="stylesheet" href="{% static 'main/style/fullcalendar-custom.css' %}">
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.1.0/fullcalendar.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.1.0/locale/da.js"></script>
{% endblock %}

{% block content %}
    <div class="box" id="næstelan">
        {% if next_lan %}
            <h2>Næste LAN: {{ next_lan.name }}</h2>
            <h4>Dato: <strong>{{ next_lan.start }}</strong></h4>
            {{ next_lan.blurb|safe }}
            {% if not next_lan.show_calendar %}
                <p>Tidsplan er endnu ikke helt færdiggjort, men vil blive vist herunder snarrest.</p>
            {% endif %}
        {% else %}
            <h2>Ingen LAN planlagt</h2>
            <p>Der er ingen lan planlagt på nuværende tidspunkt.</p>
        {% endif %}
    </div>
    {% if next_lan and next_lan.show_calendar %}
        <div class="box" id="plan">
            <h2>Tidsplan</h2>
            <div id="calendar_loading"><h4>Indlæser</h4></div>
            <div id="calendar" data-date="{{ next_lan.start.isoformat }}"></div>
            <script src="{% static "main/script/calendar.js" %}"></script>
        </div>
    {% endif %}
    <div class="box" id="hvaderhal">
        <h2>Hvad er HAL?</h2>
        <p>HAL <span class="acronym">(<span>H</span>TX<span>A</span>arhus<span>L</span>AN)</span> er navnet på det LAN
            der bliver holdt
            på Aarhus Gymnasium af elever for elever. Et LAN bliver holdt over en weekend fra fredag til søndag morgen,
            så man kan nå hjem og hvile ud til mandag.</p>

        <p>Under <a href="{% url "info" %}">Information</a>, kan du læse om yderlige informationer til LAN, som hvor og
            hvornår det er, hvad der er en god ide at medbringe, hvad der gøres med mad, og selvfølgelig de obligatorisk
            skrevne regler.</p>
        <p>Under <a href="{% url "tilmeld" %}">Tilmelding</a>, kan du tilmelde dig til næste LAN. Hvis du ikke gør
            dette, kan du ikke komme ind!</p>
        <p>Under <a href="{% url "tournaments" %}">Turnering</a>, kan du melde dig til turneringerne ved næste LAN, og
            det er
            også her der kommer live opdateringer på turneringerne under LAN'et! </p>
    </div>
{% endblock %}
