{% extends "base.html" %}
{% load static %}

{% block title %}Forside{% endblock %}

{% block extrahead %}
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.1.0/fullcalendar.min.css">
    <link rel="stylesheet" href="{% static 'main/style/fullcalendar-custom.css' %}">
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.1.0/fullcalendar.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.1.0/locale/da.js"></script>
{% endblock %}

{% block content %}
    <div class="box" id="næstelan">
        {% if lan %}
            <h2>Næste LAN: {{ lan.name }}</h2>
            <h4>Dato: <strong>{{ lan.start }}</strong></h4>
            {{ lan.blurb|safe }}
            {% if not lan.show_calendar %}
                <p>Tidsplanen for næste LAN er ikke klar endnu, men vil blive vist herunder så snart alt er planlagt.</p>
            {% endif %}
        {% else %}
            <h2>Ingen LAN planlagt</h2>
            <p>Der er ingen LAN planlagt på nuværende tidspunkt.</p>
        {% endif %}
    </div>
    {% if lan and lan.show_calendar %}
        <div class="box" id="plan">
            <h2>Tidsplan</h2>
            <div id="calendar_loading"><h4>Indlæser</h4></div>
            <div id="calendar" data-date="{{ lan.start.isoformat }}"></div>
            <script src="{% static "main/script/calendar.js" %}"></script>
        </div>
    {% endif %}
    <div class="box" id="hvaderhal">
        <h2>Hvad er AG LAN?</h2>
        <p>AG LAN <span class="acronym">(<span>A</span>arhus<span> G</span>ymnasium <span>L</span>AN)</span> er navnet på det LAN
            vi holder på Aarhus Gymnasium Aarhus C, af elever, for elever. LAN bliver som regel holdt over en weekend, fra fredag
            aften til søndag middag, men det er tilladt at komme og gå som man vil, så længe man er tilmeldt.</p>

        <p>Under <a href="{% url "info" %}">Information</a> kan du finde alle de informationer, du har brug for at vide, før du
            tager til LAN. Dette inkluderer for eksempel tid og sted, pakkeliste, hvordan madbestilling foregår,
            regler for opholdelse under LAN, og en FAQ.</p>
        <p>Under <a href="{% url "tilmeld" %}">Tilmelding</a> kan du melde dig til næste LAN, og reservere plads.
            Vi regner med at alle, der kommer, melder sig til.</p>
        <p>Under <a href="{% url "tournaments" %}">Turnering</a> kan du melde dig til det kommende LAN's turneringer. Her kan
            du også se holdenes placering under og efter turneringer, og hvilke præmier de forskellige turneringer har.</p>
    </div>
    <div class="box" id="regler">
    <h2>Regler</h2>
        <p>Vi har nogle få, men vigtige, regler, som vi gerne vil have at alle overholder af sikkerhedsmæssige årsager, og for at
            alle kan få en god oplevelse til LAN.</p>
        <ul>
            <li>Du må ikke komme beruset, eller indtage alkohol, til nogen af LANene. Hvis der er påvirkede mennesker til LAN,
                kan LAN risikere at blive lukket forevigt.
            </li>
            <li>Samleje er ikke tilladt til LAN, eller noget andet tidspunkt på skolens ejendom.</li>
            <li>Når du har brugt køkkenet, skal du huske at rydde op og gøre rent de steder hvor du har været, og de
                ting du har brugt.
            </li>
            <li>Der må ikke stå tasker eller andet baggage ved bordene, da det spærrer brandvejene. Al baggage skal i stedet
                stilles op på trappen, eller i andre afmarkerede baggageområder.
            </li>
            <li>Der må ikke stå drikke- eller spisevarer i nærheden af El-tavlerne (de store strømfordelere).</li>
            <li>For at undgå kortslutning, må du ikke sætte højspændigs køkkenudstyr (som køleskabe) til strømstikket hvor du sidder.
                Vi har et dedikeret køkkenområde, der er sat op til at klare højere spænding.
            </li>
            <li>Der må ikke medbringes netværksudstyr som routere og access-points, og du må ikke hoste hotspots og
                andet uden tilladelse. Når du ankommer skal du også sikre dig at din computer ikke er sat op til at dele
                dit netværk igennem lan-kabel. Dette kan nemlig forårsage problemer.
            </li>
            <li>Husk at rydde op løbende under LAN, og smid dine pantflasker i de afmarkerede pantspande.</li>
            <li>Vi forbeholder os retten til at fjerne alt upassende data fra en brugers profil.</li>
        </ul>
    </div>
{% endblock %}
