{% extends "base.html" %}

{% block title %}Information{% endblock %}

{% block content %}
    <div class="box" id="tidsted">
        <h2>Tid & sted</h2>
        <h3>Tid</h3>
        <h4>Start: <strong>{{ next_lan.start|date:"l, j. F Y G:i" }}</strong></h4>
        <h4>Slut: <strong>{{ next_lan.end|date:"l, j. F Y G:i" }}</strong></h4>
        <p>Det er tilladt at møde og forlade stedet som man har lyst; man kan komme ind når som helst, dog hvis portene
            er lukkede, skal man ringe på dette telefon nummer: <a href="tel:29721401">29 72 14 01</a>.</p>
        <h3>Sted</h3>
        <p><a href="https://goo.gl/maps/U3QLMv2Phfv" target="_blank">Univers, AARHUS TECH Aarhus Gymnasium<br>Dollerupvej 2, 8000,
            Aarhus C</a></p>
        <!--<div id="map"></div>-->
    </div>
    <div class="box" id="pakke">
        <h2>Pakkeliste</h2>
        <ul>
            <li>Studiekort (så vi kan være sikre på at du går på skolen)</li>
            <li>Gamerudstyr</li>
                <ul>
                    <li>Computer, PS, XBOX, skærm, div. tilbehør, hvad du nu har brug for.</li>
                    <li>LAN-kabel - anbefalet længde: 10m. Hvis du ikke har et der er langt nok, kan du låne et.</li>
                    <li>Stikdåse - hvis du har brug for mere end ét stik.</li>
                </ul>
            <li>Vi må som udgangspunkt ikke sove på skolens møbler, medbrig derfor liggeunderlag el.lign.</li>
            <li>Dyne/sovepose</li>
            <li>Toiletgrej</li>
            <li>Ekstra tøj (i hvert fald en t-shirt eller to)</li>
        </ul>
    </div>
    <div class="box" id="mad">
        <h2>Mad</h2>
        <p>Det vil ikke være muligt at købe mad på skolen, men der ligger dog en Netto ca. 200m væk fra skolen.</p>
        <p>Det er også muligt at få opbevaret mad/drikke på køl og at bruge diverse køkkenmaskiner (mikrobølgeovn, elkedel og andet) - alt sammen gratis!</p>
    </div>
    <!--<div class="box" id="regler">
        <h2>Reglement</h2>
        <h4><strong>10. februar!</strong></h4>
        {% lorem 2 p %}
    </div>-->
{% endblock %}