{% extends "base.html" %}

{% block title %}Information{% endblock %}

{% block content %}
    <div class="box" id="tidsted">
        <h2>Tid & sted</h2>
        <h3>Tid</h3>
        <h4>Start: <strong>{{ next_lan.start|date:"l, j. F Y G:i" }}</strong></h4>
        <h4>Slut: <strong>{{ next_lan.end|date:"l, j. F Y G:i" }}</strong></h4>
        <p>Det er tilladt at møde og forlade stedet som man har lyst; man kan komme ind når som helst, dog hvis portene
            er lukkede, skal man ringe på dette telefon nummer: <a href="tel:29721401">29 72 14 01</a>.</p>
        <h3>Sted</h3>
        <p><a href="https://goo.gl/maps/U3QLMv2Phfv" target="_blank">Univers, AARHUS TECH Aarhus Gymnasium<br>Dollerupvej
            2, 8000, Aarhus C</a></p>
    </div>
    <div class="box" id="pakke">
        <h2>Pakkeliste</h2>
        <ul>
            <li>Studiekort (så vi kan være sikre på at du går på skolen)</li>
            <li>Gamerudstyr</li>
            <ul>
                <li>Computer, PS, XBOX, skærm, div. tilbehør, hvad du nu har brug for.</li>
                <li>LAN-kabel - anbefalet længde: 10m. Hvis du ikke har et der er langt nok, kan du låne et.</li>
                <li>Stikdåse - hvis du har brug for mere end ét stik.</li>
            </ul>
            <li>Vi må som udgangspunkt ikke sove på skolens møbler, medbring derfor liggeunderlag el.lign.</li>
            <li>Dyne/sovepose</li>
            <li>Toiletgrej</li>
            <li>Ekstra tøj (i hvert fald en t-shirt eller to)</li>
        </ul>
    </div>
    <div class="box" id="mad">
        <h2>Mad</h2>
        <p>Det vil ikke være muligt at købe mad på skolen, men der ligger dog en Netto ca. 200m væk fra skolen.</p>
        <p>Det er også muligt at få opbevaret mad/drikke på køl og at bruge diverse køkkenmaskiner (mikrobølgeovn,
            elkedel og andet) - alt sammen gratis!</p>
    </div>
    <div class="box" id="regler">
        <h2>Reglement</h2>
        <p>Vi vil gerne undgå at lave en lang regelliste, men vi bliver nødt til at opstille nogle regler, for at sikre
            os, at alting forløber sikkert og flydende.</p>
        <ul>
            <li>Der må ikke stilles tasker, kasser, soveposer og andre "fyld"-ting rundt om bordene. Alle disse ting
                skal istedet opbevares ovre ved tribunen. (Der bliver sat skilte op. Hvis vi ser andet bliver du bedt om
                at fjerne dine ting.)
            </li>
            <li>Der må IKKE stå drikke- eller fødevarer i nærheden af de store strøm-fordelere.</li>
            <li>Du må ikke komme beruset, eller indtage alkohol til nogle af lanene.</li>
            <li>For at undgå overbelastningen af strømmen, må du ikke sætte køkkenudstyr og lignende (alt andet end
                gaming-udstyr) til strømstikket hvor du sidder. Vi har dedikerede borde, hvor du kan sætte dit andet
                udstyr til.
            </li>
            <li>Der må ikke medbringes netværksudstyr som routere og access-points, og du må ikke hoste hotspots og
                andet uden tilladelse. Når du ankommer skal du også sikre dig at din computer ikke er sat op til at dele
                dit netværk igennem lankabel. Dette kan nemlig foresage problemer.
            </li>
            <li>Ingen højttaleranlæg uden tilladelse fra crew.</li>
        </ul>

        <p>Derudover har vi nogle anvisninger som du bør tage højde for:</p>
        <ul>
            <li>Du skal kunne have dit udstyr inden for din egen plads, ca. 90 cm.</li>
            <li>Almindelig dansk lovgivning er gældende, og vi forventer også almindelig og god opførsel, så alle kan
                være med.
            </li>
            <li>Der må kun soves i soveområderne (endnu ikke fastlagt endnu, spørg et medlem fra crew til lanet), der må
                som hovedregel IKKE soves på skolens møbler.
            </li>
            <li>Hvis folk ikke kan finde ud af at rydde op på brugte glas, tomme flasker, pizzabakker og andet affald,
                bliver der indført oprydningsrunder. Så sørg for at holde orden, især ved din egen plads
            </li>
        </ul>
    </div>
{% endblock %}