{% extends "base.html" %}
{% load thumbnail %}

{% block content %}
    <div class="box" id="profile">
        <h2>{% block title %}{{ profile.user.username }}{% endblock %}</h2>
        {% include 'messages.html' %}
        <div id="show" {% if start_edit %}class="hide"{% endif %}>
            <div class="info">
                <p>Navn: {{ profile.user.first_name }}</p>
                <p>Klasse: {{ profile.get_grade_display }}</p>
                <p>Bio:<br>{{ profile.bio|linebreaks }}</p>
                {% if lan %}
                    <p>Næste LAN: denne bruger{% with profile.get_lanprofile_for_next_lan as lp %}
                        {% if lp %}
                            {% if lp.seat %}
                                har reserveret plads {{ lp.seat }}
                            {% else %}
                                er tilmeldt men har ikke reserveret plads
                            {% endif %}
                        {% else %}
                            er ikke tilmeldt
                        {% endif %}
                    {% endwith %}</p>
                {% endif %}
            </div>
            {% if profile.photo %}
                {% thumbnail profile.photo "400" as im %}
                    <a href="{{ profile.photo.url }}">
                        <img src="{{ im.url }}" alt="{{ profile.user.username }}s profilbillede">
                    </a>
                {% endthumbnail %}
            {% endif %}

        </div>
        {% if user_form %}
            <form action="{{ get_full_path }}" method="post" enctype='multipart/form-data'>
                {% csrf_token %}
                <div id="edit" {% if not start_edit %}class="hide"{% endif %}>
                    {{ user_form.as_p }}
                    {{ profile_form.as_p }}
                </div>
                <input type="submit" value="Rediger profil" name="profile">
                <a class="button" href="{% url "password_change" %}">Skift kodeord</a>
            </form>
        {% endif %}
    </div>
{% endblock %}