{% extends "base.html" %}
{% load thumbnail %}

{% block content %}
    <div class="box" id="profile">
        <h2>{% block title %}{{ profile.user.username }}{% endblock %}</h2>
        {% include 'messages.html' %}
        <div id="show" {% if start_edit %}class="hide"{% endif %}>
            <div class="info">
                <p><b>Navn:</b> {{ profile.user.first_name }}</p>
                <p><b>Klasse:</b> {{ profile.get_grade_display }}</p>
                {% if profile.user.is_staff %}<p><i>Denne bruger er en del af LanCrew.</i></p>{% endif %}
                {% if lan %}
                    {% with profile.get_lanprofile_for_next_lan as lp %}
                        {% if lp %}
                            {% if lp.seat %}
                                <p><b>Reserveret plads:</b> <a href="{% url 'tilmeld' %}">{{ lp.seat }}</a></p>
                            {% else %}
                                <p><i>Ingen plads reseveret.</i></p>
                            {% endif %}
                        {% endif %}
                    {% endwith %}
                {% endif %}
                <p style="margin-bottom: -18.500px;"><b>Bio:</b>{{ profile.bio|linebreaks }}</p>
            </div>
            {% if profile.photo %}
                {% thumbnail profile.photo "400" as im %}
                    <a href="{{ profile.photo.url }}">
                        <img src="{{ im.url }}" alt="{{ profile.user.username }}s profilbillede">
                    </a>
                {% endthumbnail %}
            {% endif %}

        </div>
        {% if user_form %}
            <form action="{{ get_full_path }}" method="post" enctype='multipart/form-data'>
                {% csrf_token %}
                <div id="edit" {% if not start_edit %}class="hide"{% endif %}>
                    {{ user_form.as_p }}
                    {{ profile_form.as_p }}
                </div>
                <input type="submit" value="Rediger profil" name="profile">
                <a class="button" href="{% url "password_change" %}">Skift kodeord</a>
            </form>
        {% endif %}
    </div>
{% endblock %}
