{% extends "base.html" %}
{% load recaptcha2 %}

{% block extrahead %}
    {% recaptcha_init 'da' %}
{% endblock %}

{% block content %}
    <div class="box" id="register">
        <h2>{% block title %}Opret bruger{% endblock %}</h2>
        <form action="{% url 'register' %}?next={{ request.GET.next }}" method="post">
            {% csrf_token %}
            {{ user_form }}
            {{ profile_form }}
            <p>Når du trykker på "Opret bruger" accepterer du vilkårne i vores
                <a href="{% url 'policy' %}">privatlivspolitik</a>.</p>
            <input type="submit" value="Opret bruger" name="register">
        </form>
    </div>
{% endblock %}