{% extends "base.html" %}
{% load static %}

{% block extrahead %}
    <script src="{% static "main/script/tilmeld.js" %}"></script>
    <script src="{% static "main/script/vendor/jquery.countdown.min.js" %}"></script>
{% endblock %}

{% block content %}
    <div class="box" id="tilmeld">
        <h2>{% block title %}Tilmelding{% endblock %}</h2>
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li{% if message.tags %}
                        class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        {% if lan.is_open %}
            <div class="seats">
                <a href="{% url "tilmeldlist" %}" title="Klik her for at se en liste over alle tilmeldte."><h3
                        id="count">Antal tilmeldte: {{ count.0 }}/{{ count.1 }}</h3></a>
                {% if current == 0 %}
                    <h4 id="current">Du skal logge ind for at kunne tilmelde dig til LAN</h4>
                {% elif current == -1 %}
                    <h4 id="current" data-not="true">Du er ikke tilmeldt LAN.</h4>
                {% else %}
                    {% if current %}
                        <h4 id="current" data-seat="{{ current }}">Valgt plads: <span>{{ current }}</span></h4>
                    {% else %}
                        <h4 id="current" data-seat="">Du er tilmeldt LAN, men ingen plads er reseveret</h4>
                    {% endif %}
                {% endif %}
                <br>
                {# @formatter:off--> #}
                <table>
                    <tbody>
                        {% for row in seats %}
                            <tr>
                                {% for seat in row %}{% if seat.0 %}<td {% if current == seat.0 %}class="current" {% endif %}tabindex="0" role="button" data-url="{% if seat.1.user.username %}{% url "profile" username=seat.1.user.username %}{% endif %}" data-name="{{ seat.1.user.first_name }}" data-grade="{{ seat.1.user.profile.get_grade_display }}">{{ seat.0 }}</td>{% else %}<td>&nbsp;</td>{% endif %}
                                {% empty %} <td>&nbsp;</td>{% endfor %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {# @formatter:on--> #}
                {% if current != 0 %}
                    <a class="button" id="reset" href="#">Jeg ønsker ikke at reservere plads</a>
                {% endif %}
                <h3>Prisen for LAN er denne gang {{ lan.price|floatformat:"-2" }}kr.</h3>
                <p>Tilmelding er ikke bindende, bemærk dog at penge indbetalt efter LAN'et er startet ikke gives
                    retur.</p>
                <p>Det er muligt at betale med MobilePay på {{ phone }} eller kontant til selve LAN'et. Hvis du betaler
                    via MobilePay, beder vi dig sende pengene mindst nogle dage før LAN starter.</p>
                {% if current != 0 %}
                    {% if current != -1 %}
                        <p>Du kan framelde dig LAN ved at trykke herunder. Bemærk at din plads herefter vil blive
                            frigivet til andre. Hvis du kun ønsker at skifte plads, skal du vælge en på bordene
                            herover.</p>
                        <form action="{% url 'frameld' %}" method="POST" id="frameld">
                            {% csrf_token %}
                            <input type="submit" value="Frameld" name="frameld">
                        </form>
                    {% endif %}

                    <form action="{% url "tilmeld" %}" method="post" id="tilmeld">
                        {% csrf_token %}
                        {% if form.paytype %}
                            {{ form.paytype.label }}
                            <div id="paytype">
                                {# @formatter:off--> #}
                                {% for radio in form.paytype %}<span><label for="{{ radio.id_for_label }}">{{ radio.choice_label }}</label></span>{{ radio.tag }}{% endfor %}
                                {# @formatter:on--> #}
                            </div>
                        {% endif %}
                        {{ form.seat }}
                        {% if current == -1 %}
                            <p>Når du tilmelder dig LAN, accepterer du reglerne for tilmelding og ophold under LAN, som
                                kan læses <a href="{% url 'info' %}#regler" target="_blank">her</a>.</p>
                        {% endif %}
                        <input type="submit" value="{% if current == -1 %}Tilmeld{% else %}Skift plads{% endif %}"
                               name="tilmeld">
                    </form>
                {% endif %}
            </div>
        {% else %}
            <h3 id="notopen">Tilmelding åbner om:</h3>
            <div id="countdown" data-opens="{{ opens_time }}"></div>
        {% endif %}
    </div>
    {% if lan.is_open %}
        <div class="box" id="penge">
            <h2>Hvad bruger vi pengene på?</h2>
            <p>For at LAN bliver en bedre oplevelse for alle, spørger vi denne gang om at I
                giver {{ lan.price|floatformat:"-2" }}kr. for at deltage.</p>
            <p>Disse penge vil gå til at opgradere vores udstyr (som servere, switches og strømforsyning), for at undgå
                problemer som strømafbrydelser og internetproblemer. Det vil også gøre det muligt for os at leje/købe
                servere til div. spil som Minecraft, CSGO osv. Derudover vil nogle af pengene gå til præmier til
                turneringer for at opfordre flere til at være en del af dem.</p>
            <p>I fremtiden vil pengene også kunne bruges på madordninger, hvis ønsket, så det bliver muligt at købe
                mad/drikke til LAN.</p>
        </div>
    {% endif %}
{% endblock %}