{% extends "base.html" %}
{% load static %}
{% load thumbnail %}

{% block extrahead %}
    <script src="{% static "main/script/tilmeld.js" %}"></script>
    <script src="{% static "main/script/vendor/jquery.countdown.min.js" %}"></script>
{% endblock %}

{% block content %}
    <div class="box" id="tilmeld">
        <h2>{% block title %}Tilmelding{% endblock %}</h2>
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li{% if message.tags %}
                        class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        {% if lan.is_open %}
            <div class="seats">
                <h3 id="count">Antal tilmeldte: {{ count.1 }}/{{ count.2 }}{% if count.3 %} (+{{ count.3 }}){% endif %}</h3>
                <a href="{% url "tilmeldlist" %}"><p class="centered">Se liste over tilmeldte</p></a>
                {% if not profile %}
                    <h4 id="current">Du skal logge ind for at kunne tilmelde dig til LAN</h4>
                {% elif current == 0 %}
                    <h4 id="current" data-not="true">Du er ikke tilmeldt LAN.</h4>
                {% elif current == '' %}
                    <h4 id="current" data-seat="">Du er tilmeldt LAN, men ingen plads er reseveret</h4>
                    <p class="centered">Klik på en plads, for at reservere den.</p>
                {% else %}
                    <h4 id="current" data-seat="{{ current }}">Valgt plads: <span>{{ current }}</span></h4>
                    <p class="centered">Klik på en ny plads, for at skifte dertil.</p>
                {% endif %}
                <br>
                {# @formatter:off--> #}
                <table>
                    <tbody>
                        {% for row in table %}
                            {% if row.0 %}<tr><td class="title" colspan="{{ row_width }}" {% if row.1.title %}text="{{ row.1.text }}"{% endif %}>{{ row.1.title }}</td></tr>{% else %}
                                <tr>{% for seat in row.1 %}
                                    {% if seat %}<td {% for key, value in seat.items %}{{ key }}="{{ value }}" {% endfor %}tabindex="0" role="button"><span{% if seat.style %} class="overlay"{% endif %}>{{ seat.seat }}</span></td>{% else %}<td>&nbsp;</td>{% endif %}{% endfor %}
                                </tr>
                            {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
                {# @formatter:on--> #}
                {% if current != 0 %}
                    <a class="button" id="reset" href="#">Jeg ønsker ikke at reservere plads</a>
                {% endif %}
                {% if lan.paytypes %}
                    <h3>Prisen for LAN er denne gang {{ lan.price|floatformat:"-2" }}kr.</h3>
                    <p>Tilmelding er ikke bindende. Bemærk dog at penge indbetalt efter LAN er startet ikke gives
                        retur.</p>
                    <p>Det er muligt at betale med MobilePay eller kontant. MobilePay gøres vha. QR kode som vises når
                        du har tilmeldt dig. Hvis du vælger at betale kontant skal du betale ved et LanCrew medlem så
                        snart du ankommer til LAN.</p>
                {% endif %}
                {% if profile %}
                    {% if current != 0 %}
                        <p>Du kan framelde dig LAN ved at trykke herunder. Bemærk at din plads herefter vil blive
                            frigivet til andre. Hvis du kun ønsker at skifte plads, skal du vælge en ny på bordene
                            herover.</p>
                        <form action="{% url 'frameld' %}" method="POST" id="frameld">
                            {% csrf_token %}
                            <input type="submit" value="Frameld" name="frameld">
                        </form>
                    {% endif %}

                    <form action="{% url "tilmeld" %}" method="post" id="tilmeld">
                        {% csrf_token %}
                        {% if form.paytype %}
                            {{ form.paytype.label }}
                            <div id="paytype">
                                {# @formatter:off--> #}
                                {% for radio in form.paytype %}<span><label for="{{ radio.id_for_label }}">{{ radio.choice_label }}</label></span>{{ radio.tag }}{% endfor %}
                                {# @formatter:on--> #}
                            </div>
                        {% endif %}
                        {{ form.seat }}
                        {% if current == 0 %}
                            <p>Når du tilmelder dig LAN, accepterer du reglerne for tilmelding og ophold under LAN, som
                                kan læses <a href="{% url 'info' %}#regler" target="_blank">her</a>.</p>
                            {% if count.1 >= count.2 %}
                                <p>Der er ikke flere pladser og du kan derfor kun tilmelde dig uden at reservere plads.
                                    Klik på "Jeg ønsker ikke at vælge plads" herover for at gøre dette</p>
                            {% endif %}
                        {% endif %}
                        <input type="submit" value="{% if current == 0 %}Tilmeld{% else %}Skift plads{% endif %}"
                           name="tilmeld">
                    </form>
                {% endif %}
            </div>
        {% else %}
            <h3 id="notopen">Tilmelding åbner om:</h3>
            <div id="countdown" data-opens="{{ opens_time }}"></div>
        {% endif %}
    </div>
    {% if lan.is_open and lan.paytypes %}
        <div class="box" id="penge">
            <h2>Hvad bruger vi pengene på?</h2>
            <p>For at LAN bliver en bedre oplevelse for alle, spørger vi denne gang om at I
                giver {{ lan.price|floatformat:"-2" }}kr. for at deltage.</p>
            <p>Disse penge vil gå til at opgradere vores udstyr (som servere, switches og strømforsyning), for at undgå
                problemer som strømafbrydelser og internetproblemer. Det vil også gøre det muligt for os at leje/købe
                servere til div. spil som Minecraft, CSGO osv. Derudover vil nogle af pengene gå til præmier til
                turneringer for at opfordre flere til at være en del af dem.</p>
            <p>I fremtiden vil pengene også kunne bruges på madordninger, hvis ønsket, så det bliver muligt at købe
                mad/drikke til LAN.</p>
        </div>
    {% endif %}
{% endblock %}
