{% extends "base.html" %}
{% load static %}
{% load thumbnail %}

{% block content %}
    <div class="box" id="turnering">
        <h2>{{ tournament.name }}</h2>
        <p>{{ tournament.description }}</p>
        {% if not teams %}
            <p>Ingen hold er tilmeldt denne turnering endnu.</p>
        {% endif %}
    </div>
    {% if teams %}
        <div class="box" id="hold" style="order: 1;">
            <h2>Tilmeldte hold</h2>
            <table class="teams">
                    <thead>
                        <tr>
                            <td>Holdnavn</td>
                            <td>Medlemmer</td>
                        </tr>
                    </thead>
                    <tbody>
                        {% for team in teams %}
                            <tr>
                                <td>{{ team.name }}</td>
                                <td>{% for profile in team.profiles.all %}<a href="{% url 'profile' username=profile.user.username %}">{{ profile.user.first_name }}</a>{% if not forloop.last %}{% ifequal forloop.revcounter 2 %} og {% else %}, {% endifequal %}{% else %}{% endif %} {% endfor %}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
        </div>
    {% endif %}
    <div class="box" id="tilmeldturnering" style="order: 1;">
        <h2>Tilmeld hold til turnering</h2>
        {% include 'messages.html' %}
        {% if form %}
            <p>Indtast ønsket holdnavn samt holdmedlemmer herunder, og tryk på tilmeld knappen.</p>
            <form action="{{ get_full_path }}" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Tilmeld til {{ tournament.name }}" name="profile">
            </form>
        {% else %}
            <p>Du skal være logget ind for at kunne tilmelde et hold til denne turnering.</p>
        {% endif %}
    </div>
    {{ form.media }}
{% endblock %}